# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Build output
build/
dist/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS-specific files
.DS_Store
Thumbs.db
.Desktop.ini

# Frontend-specific
front-end/vite-project/node_modules/
front-end/vite-project/.next/
front-end/vite-project/.nuxt/
front-end/vite-project/.cache/
front-end/vite-project/.parcel-cache/
front-end/vite-project/build/
front-end/vite-project/dist/

# Backend-specific
back-end/node_modules/
back-end/.env
back-end/dist/
back-end/build/
